<ion-view view-title="{{project.title}}" ng-init="init()">
<div class="bar bar-subheader">
   <hr>
      <h2 >Viewpoints map</h2>


        </div>
  <ion-content class="has-subheader">

      
      <div class="item item-image">
      <img ng-src="{{project.thumbnail}}">
      </div>
      
      <p>
        {{project.description}}
      </p>




      <ion-list>

      <a class="item item-thumbnail-left" ng-repeat="view in project.views" href="#/projects/details/{{view.viewId}}">

          <img src="{{view.imgLeftUrl}}"><h2>{{view.viewId}} {{view.title}} </h2></ion-item>
          
      </a>


  </ion-content>
</ion-view>