 <ion-nav-back-button class="button-clear">
    <i class="ion-arrow-left-c"></i> Back
  </ion-nav-back-button>
<ion-view view-title="{{project.title}}" ng-init="init()">

<div class="bar bar-subheader">
   <hr>
      <h2 >Viewpoints map</h2>


        </div>
  <ion-content class="has-subheader">

      
      <div class="item item-image">
     
    <img src="./img/projectplattegrond.jpg" alt="">
      </div>
      
 <!--      <p>
        {{project.description}}
      </p>
 -->

      <ion-list>

      <ion-item class="itemView" ng-repeat="view in project.views" href="#/projects/details/{{view.viewId}}">

<div class="blauw"> 

        <img class="thumbnail" ng-src="{{view.imgLeftUrl}}" >
        <div class="rightDescription  item-body"><h4>1. {{view.title}}</h4><button class="viewButton button-outline">
View in VR!
</button>


</div><div class="clearfix"></div></div>

  <!--  <div class="description item-body" ><P>Hier kun je deze locatie in Virtual reality zien. Let vooral op deze details. Dit en dat zijn deze stenen en mooi duurzaam materiaal. zien.</P></div>  -->
        </ion-item>


      </ion-list>
      
      <button class="button button-block button-assertive" ng-click="Remove({{project}})">
        Remove project
      </button>

  </ion-content>
</ion-view>