  
<ion-view title="<img src='./img/logo.png'>" ng-init="init()">
  	

	<div class="bar bar-subheader1">
	   <hr>
	      <h2>view</h2>

	      <h4 class="add">Add project:</h4>

      	<form ng-submit="addProject(projectCode)">
	        <label class="item1 addproject item-energized item-input">
	          <input type="text" class="submitCode" ng-model="projectCode" placeholder="Enter project code"><button type="submit" class="button  button-energized">
				    Add
				  </button>
	        </label>
        </form>
	</div>

	<div class="bar bar-subheader1 bar-assertive notification ng-hide" ng-show="notification" ng-click="dismissNotification()">
		<h1 class="title">{{notification}}</h1>
	</div>



	<ion-content class="has-subheader1">
  		<ion-list>
	        
	        <li on-hold="onHold(Remove({{project}}))" ng-repeat="project in projects" class="projects" href="#/projects/{{project.id}}">

			    <h3>{{project.title}}</h3>
<!-- <span class="eyeicon"><img  src='./img/eye.png'></span> -->
			   	<img ng-src="{{project.thumbnail}}">
			    
			    <a href="#/projects/{{project.id}}">
				</a>


       			<div  class="descriptionProject item-body "><h4>About the project</h4><p>{{project.description}}</p>
						<!-- <span class="ion-chevron-right"></span> --><a href="#/projects/{{project.id}}"><button class="asbestos-flat-button">
View project!</button></a></div>

			</li>
		</ion-list>


		


  	</ion-content>


</ion-view>