  
<ion-view title="<img src='./img/logo.png'>" ng-init="init()">
  	
<!--   	<ion-header-bar class="bar-subheader">
	 	<form ng-submit="addProject(projectCode)" class="item-input">

			  <label class="item-input-wrapper" >
			    <input type="text" placeholder="add project" ng-model="projectCode">
			  </label>
			  
			  <button type="submit" class="button button-clear">
			    Add
			  </button>


		</form>
	</ion-header-bar> -->

	<div class="bar bar-subheader bar-assertive notification ng-hide" ng-show="notification" ng-click="dismissNotification()">
		<h1 class="title">{{notification}}</h1>
	</div>


<div class="bar bar-subheader1">
   <hr>
      <h2 >view</h2>

      <h4 class="add">Add project:</h4>
        <label class="item1 addproject item-energized item-input">
          <input type="text" class="submitCode" ng-model="projectCode" placeholder="Submit project code">	  <button type="submit" class="button  button-energized">
			    Add
			  </button>
        </label>



   <ion-list>
	           <ion-item ng-repeat="project in projects" class="projects" href="#/projects/{{project.id}}">

			    <h3>{{project.title}}</h3>

			   	 <img ng-src="{{project.thumbnail}}">
			    <a class="item item-icon-left" href="#/projects/{{project.id}}">
				    Details
				</a>


       			<div  class="descriptionProject item-body "><h4>About the project</h4><p>{{project.description}}</p></div>

			</ion-item>

	</ion-list>


		


  	</ion-content>


</ion-view>