<ion-view view-title="{{project.title}}" ng-init="init()">
<div class="bar bar-subheader">
   <hr>
      <h2 >Viewpoints map</h2>


        </div>
  <ion-content class="has-subheader">

      
      <div class="item item-image">
        <img ng-src="{{project.thumbnail}}">
      </div>
      
      <p>
        {{project.description}}
      </p>




      <ion-list>

        <li class="item item-thumbnail-left" ng-repeat="view in project.views">

            <img src="{{view.imgLeftUrl}}"><h2>{{view.viewId}} {{view.title}} </h2>

            <a href="#/projects/details/{{view.viewId}}">Details</a>
            
        </li>

      </ion-list>
      
      <button class="button button-block button-assertive" ng-click="Remove({{project}})">
        Remove project
      </button>


  </ion-content>
</ion-view>