/* Empty. Add your own CSS if you like */
/*.bar-subheader{
	margin:0px auto;
	padding:0px;
}*/

form{
	margin:0px;
	padding:0px;
}

.background{
	background:#F9F9F9;
}

.gestureRecognizer{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:99;
}